# Ignorar o ambiente virtual
venv/

# Ignorar arquivos do VSCode
.vscode/

# Ignorar banco de dados SQLite (opcional, se não quiser versioná-lo)
*.db
!matriculas.db


# Ignorar cache e arquivos temporários do Python
__pycache__/
